node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env*
.nitro
.tanstack
.wrangler
.output
.vinxi

secrets
coverage
.vercel
*storybook.log
storybook-static
.turbo
**/e2e/.auth/
**/e2e/.gen/
.vitest-attachments
__screenshots__/
**/playwright-report/
**/test-results/
